<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      th:with=" activeTab='JENIS_SURAT'">
    <body>
        <div layout:fragment="customCss">
            
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-danger">
                        <form class="form-material" th:object="${jenisSurat}" method="post" th:action="@{/jenis_surat/form}">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Tambah Jenis Surat</h4>
                            </div>
                            <div class="card-block">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{id}">
                                    <label for="jenisSurat">Jenis Surat</label>
                                    <input type="text" class="form-control form-control-line" id="jenisSurat" autocomplete="off"
                                           required th:field="*{jenisSurat}">
                                </div>
                                <div class="form-group">
                                    <label for="keterangan">Keterangan</label>
                                    <textarea class="form-control" id="keterangan" th:field="*{keterangan}" required autocomplete="off"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="warna">Warna</label>
                                    <input type="color" class="form-control form-control-line" id="warna" required th:field="*{warna}">
                                </div>
                            </div>
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-primary" id="btnSimpan">Simpan</button>
                                <a th:href="@{/jenis_surat/list}" class="btn btn-success">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script th:src="@{/js/main/number-validator.js}"></script>
            <script>
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
        </div>
    </body>
</html>