<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      th:with=" activeTab='DISPOSISI'">
    <body>
        <div layout:fragment="customCss">
            <link rel="stylesheet" th:href="@{/css/select2/select2.min.css}"/>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-danger">
                        <form class="form-material" th:object="${disposisi}" method="post" th:action="@{/disposisi/form}">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Detail Disposisi</h4>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <input type="hidden" th:field="*{id}">
                                        <input type="hidden" th:field="*{suratMasuk.id}">
                                        <label for="tujuanDisposisi">Ditujukan untuk</label>
                                        <input type="text" class="form-control form-control-line" id="tujuanDisposisi" autocomplete="off"
                                               required th:field="*{tujuanDisposisi}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="sifat">Sifat</label>
                                        <select class="select2" style="width: 100%" id="sifat" th:field="*{sifat}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                            <option value="Amat Segera">Amat Segera</option>
                                            <option value="Segera">Segera</option>
                                            <option value="Biasa">Biasa</option>
                                            <option value="Penting">Penting</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="isi">Isi Disposisi</label>
                                    <textarea class="form-control" id="isi" th:field="*{isi}" required autocomplete="off" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label for="batasWaktu">Batas Waktu</label>
                                        <input type="date" class="form-control form-control-line" id="batasWaktu" required th:field="*{batasWaktu}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="informasi">Informasi</label>
                                    <textarea class="form-control" id="informasi" th:field="*{informasi}" required autocomplete="off" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}"></textarea>
                                </div>
                            </div>
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-primary" id="btnSimpan" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">Simpan</button>
                                <a th:href="@{/disposisi/list}" class="btn btn-success">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script th:src="@{/js/select2/select2.full.min.js}"></script>
            <script>
                // inisialisasi select2
                $(".select2").select2();
            </script>
            <script>
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
        </div>
    </body>
</html>