<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      th:with=" activeTab='DISPOSISI'">
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/disposisi/list}" class="btn btn-primary"><i class="fa fa-undo"></i> Segarkan</a>
                    <a href="javascript:void(0)" onclick="cetakDisposisi()" class="btn btn-primary" style="background-color: #5cb85c; border-color: #5cb85c;">Cetak</a>
                </div>
                <div class="col-lg-9" style="text-align: right;">
                    <form th:action="@{/disposisi/list}" method="get" th:object="${paramSearch}">
                        <select class="form-control col-lg-3" th:field="*{query}" id="keySearch">
                            <option value="">Pencarian :</option>
                            <option value="kodeSurat">Kode Surat</option>
                            <option value="tujuanDisposisi">Tujuan disposisi</option>
                            <option value="sifat">Sifat</option>
                        </select>
                        <input type="text" class="form-control col-lg-3" th:field="*{value}" autocomplete="off" id="valueSearch">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="col-lg-12" style="margin-top: 10px;">
                    <div class="table-responsive">
                        <table class="table color-bordered-table danger-bordered-table" style="white-space: nowrap !important;">
                            <thead style="white-space: nowrap !important;">
                                <tr>
                                    <th style="text-align: center;">Aksi</th>
                                    <th>Kode Surat</th>
                                    <th>Tujuan disposisi</th>
                                    <th>Sifat</th>
                                    <th>Isi Disposisi</th>
                                    <th>Batas Waktu</th>
                                    <th>Informasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="data : ${listData}" th:if="${not #lists.isEmpty(listData.content)}">
                                    <td style="text-align: center; width: 15%;">
                                        <a class="btn btn-danger" th:href="@{/disposisi/form(id=${data.id})}" data-toggle="tooltip" data-placement="bottom" data-original-title="Detail">
                                            Detail
                                        </a>
                                    </td>
                                    <td th:text="${data.suratMasuk.kodeSurat}"></td>
                                    <td th:text="${data.tujuanDisposisi}"></td>
                                    <td th:text="${data.sifat}"></td>
                                    <td th:text="${data.isi}"></td>
                                    <td th:text="${#dates.format(data.batasWaktu, 'dd/MM/YYYY')}"></td>
                                    <td th:text="${data.informasi}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(listData.content)}">
                                    <td colspan="7" style="text-align: center;">Data tidak ditemukan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${not #lists.isEmpty(listData.content)}" style="float: right">
                        <ul class="pagination" sd:pagination="full"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script>
                function showMessageSuccess(message) {
                    swal("Sukses !", message, "success");
                }
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var successMessage = /*[[${successMessage}]]*/ "";
                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (successMessage !== null) {
                    showMessageSuccess(successMessage);
                }
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
            <script>
                function cetakDisposisi() {
                    var keySearch = null;
                    $("#keySearch").on("change", function () {
                        keySearch = $(this).val();
                    });
                    var valueSearch = $("#valueSearch").val();
                    
                    var protocol = $(location).attr('protocol');
                    var host = $(location).attr('host');
                    var urlExport = "/api/disposisi/cetak";
                    var url = protocol + "//" + host + urlExport;

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            'key' : keySearch,
                            'value' : valueSearch
                        },
                        success: function (data, textStatus, request) {
                            var filename = request.getResponseHeader('content-disposition').split(';')[1].split('=')[1].replace(/"/g, '');
                            var a = document.createElement("a");
                            a.href = 'data:application/vnd.ms-excel;base64,' + encodeURI(data.stream);
                            a.download = filename;
                            document.body.appendChild(a);
                            a.click();
                        }
                    });
                }
            </script>
        </div>
    </body>
</html>