<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      th:with=" activeTab='SURAT_KELUAR'">
    <body>
        <div layout:fragment="customCss">
            <link rel="stylesheet" th:href="@{/css/select2/select2.min.css}"/>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-danger">
                        <form class="form-material" th:object="${suratKeluar}" method="post" th:action="@{/surat_keluar/form}" enctype="multipart/form-data">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Tambah Surat Keluar</h4>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <input type="hidden" th:field="*{id}">
                                        <label for="noSurat">No Surat</label>
                                        <input type="text" class="form-control form-control-line" id="namaInstansi" autocomplete="off"
                                               required th:field="*{noSurat}">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="jenisSurat">Jenis Surat</label>
                                        <select class="select2" style="width: 100%" id="jenisSurat" th:field="*{jenisSurat}">
                                            <option th:each="data : ${listJenisSurat}" th:value="${data.id}" th:text="${data.jenisSurat}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="suratMasuk">Kode Surat Masuk</label>
                                    <select class="select2" style="width: 100%" id="jenisSurat" th:field="*{suratMasuk}">
                                        <option value="">- Kosong -</option>
                                        <option th:each="data : ${listSuratMasuk}" th:value="${data.id}" th:text="${data.kodeSurat}"></option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label for="tanggalSurat">Tanggal Surat</label>
                                        <input type="date" class="form-control form-control-line" id="tanggalSurat" required th:field="*{tanggalSurat}">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="tanggalCatat">Tanggal Catat</label>
                                        <input type="date" class="form-control form-control-line" id="tanggalCatat" required th:field="*{tanggalCatat}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="namaInstansi">Nama Instansi</label>
                                    <select class="select2" style="width: 100%" id="jenisSurat" th:field="*{instansi}">
                                        <option th:each="data : ${listInstansi}" th:value="${data.id}" th:text="${data.namaInstansi}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="perihal">Perihal</label>
                                    <input type="text" class="form-control form-control-line" id="perihal" autocomplete="off"
                                           required th:field="*{perihal}">
                                </div>
                                <div class="form-group">
                                    <label for="deskripsi">Deskripsi</label>
                                    <textarea class="form-control" id="alamat" th:field="*{deskripsi}" required autocomplete="off"></textarea>
                                </div>
                                <div class="row" th:if="${suratKeluar.id != null} and ${suratKeluar.file != null} and ${suratKeluar.file != ''}">
                                    <div class="col-lg-6 form-group">
                                        <label for="file">Unggah File</label>
                                        <input type="file" class="form-control form-control-line" id="file" name="fileSuratKeluar">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="namaFile">Nama File</label>
                                        <input id="namaFile" type="text" class="form-control" th:value="${suratKeluar.file}" disabled="true"/>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${suratKeluar.id == null} or ${suratKeluar.file == ''} or ${suratKeluar.file == null}">
                                    <label for="file">Unggah File</label>
                                    <input type="file" class="form-control form-control-line" id="file" name="fileSuratKeluar">
                                </div>
                            </div>
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-primary" id="btnSimpan">Simpan</button>
                                <a th:href="@{/surat_keluar/list}" class="btn btn-success">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script th:src="@{/js/main/number-validator.js}"></script>
            <script th:src="@{/js/select2/select2.full.min.js}"></script>
            <script>
                // inisialisasi select2
                $(".select2").select2();
            </script>
            <script>
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
        </div>
    </body>
</html>