<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      th:with=" activeTab='SURAT_KELUAR'">
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/surat_keluar/form}" class="btn btn-info" sec:authorize="hasRole('EDIT_SURAT_KELUAR')"><i class="fa fa-plus"></i> Tambah Baru</a>
                    <a th:href="@{/surat_keluar/list}" class="btn btn-primary"><i class="fa fa-undo"></i> Segarkan</a>
                </div>
                <div class="col-lg-9" style="text-align: right;">
                    <form th:action="@{/surat_keluar/list}" method="get" th:object="${paramSearch}">
                        <select class="form-control col-lg-3" th:field="*{query}">
                            <option value="">Bulan :</option>
                            <option value="01">Januari</option>
                            <option value="02">Februari</option>
                            <option value="03">Maret</option>
                            <option value="04">April</option>
                            <option value="05">Mei</option>
                            <option value="06">Juni</option>
                            <option value="07">Juli</option>
                            <option value="08">Agustus</option>
                            <option value="09">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">September</option>
                            <option value="12">Desember</option>
                        </select>
                        <input type="text" class="form-control col-lg-3" th:field="*{value}" autocomplete="off" placeholder="Pencarian">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="col-lg-12" style="margin-top: 10px;">
                    <div class="table-responsive">
                        <table class="table color-bordered-table danger-bordered-table" style="white-space: nowrap !important;">
                            <thead style="white-space: nowrap !important;">
                                <tr>
                                    <th style="text-align: center;">Aksi</th>
                                    <th>Kode Surat</th>
                                    <th>Nama Instansi</th>
                                    <th>Jenis Surat</th>
                                    <th>No Surat / Perihal / Isi Surat</th>
                                    <th>Tanggal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="data : ${listData}" th:if="${not #lists.isEmpty(listData.content)}">
                                    <td style="text-align: center; width: 15%;">
                                        <a class="btn btn-primary" th:href="@{/surat_keluar/form(id=${data.id})}" data-toggle="tooltip" data-placement="bottom" data-original-title="Ubah" sec:authorize="hasRole('EDIT_SURAT_KELUAR')">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" data-original-title="Hapus" th:onclick="'confirmDelete(\'' + ${data.id} + '\');'" sec:authorize="hasRole('EDIT_SURAT_KELUAR')">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                        <a class="btn btn-primary" style="background-color: #5cb85c; border-color: #5cb85c;" th:href="@{/surat_keluar/download(id=${data.id})}" data-toggle="tooltip" data-placement="bottom" data-original-title="Lihat File" th:if="${data.file != null} and ${data.file != ''}">
                                            <i class="fa fa-file"></i>
                                        </a>
                                    </td>
                                    <td th:text="${data.kodeSurat}"></td>
                                    <td th:text="${data.instansi.namaInstansi}"></td>
                                    <td th:text="${data.jenisSurat.jenisSurat}"></td>
                                    <td th:text="${data.noSurat} + ' - ' + ${data.perihal} + ' - ' + ${data.deskripsi}"></td>
                                    <td th:text="${#dates.format(data.tanggalSurat, 'dd/MM/YYYY')}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(listData.content)}">
                                    <td colspan="7" style="text-align: center;">Data tidak ditemukan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${not #lists.isEmpty(listData.content)}" style="float: right">
                        <ul class="pagination" sd:pagination="full"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script>
                function showMessageSuccess(message) {
                    swal("Sukses !", message, "success");
                }
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var successMessage = /*[[${successMessage}]]*/ "";
                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (successMessage !== null) {
                    showMessageSuccess(successMessage);
                }
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
            <script>
                var protocol = $(location).attr('protocol');
                var host = $(location).attr('host');
                var urlDelete = "/surat_keluar/delete";
                var paramName = "id";
                var paramValue = "";
                function confirmDelete(id) {
                    paramValue = id;
                    swal({
                        title: "Apakah anda yakin ingin menghapus data ini ?",
                        text: "Data yang telah dihapus tidak bisa dipulihkan kembali !",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Hapus",
                        closeOnConfirm: false
                    }, function() {
                        var url = protocol + "//" + host + urlDelete + "?" + paramName + "=" + paramValue;
                        location.href = url;
                    });
                }
            </script>
        </div>
    </body>
</html>