<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      th:with=" activeTab='LAYANAN_SURAT'">
    <body>
        <div layout:fragment="customCss">
            <link rel="stylesheet" th:href="@{/css/select2/select2.min.css}"/>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-danger">
                        <form class="form-material" th:object="${layananSurat}" method="post" th:action="@{/layanan_surat/form}" enctype="multipart/form-data">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Yang mengajukan permintaan</h4>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <input type="hidden" th:field="*{id}">
                                        <label for="namaPengurus">Nama Pengurus</label>
                                        <select class="select2" style="width: 100%" id="namaPengurus" th:field="*{userAdmin}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                            <option th:each="data : ${listUser}" th:value="${data.id}" th:text="${data.namaLengkap}"></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="jabatan">Jabatan</label>
                                        <input id="jabatan" type="text" class="form-control" th:value="'Ketua / Sekretaris PGRI Kab. Bogor'" disabled="true"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="instansi">Nama Instansi</label>
                                    <input type="text" class="form-control form-control-line" id="instansi" autocomplete="off"
                                           required th:field="*{instansi}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                </div>
                                <div class="form-group">
                                    <label for="perihal">Perihal</label>
                                    <input type="text" class="form-control form-control-line" id="perihal" autocomplete="off"
                                           required th:field="*{perihal}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label for="jenisSurat">Jenis Surat</label>
                                        <select class="select2" style="width: 100%" id="jenisSurat" th:field="*{jenisSurat}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                            <option th:each="data : ${listJenisSurat}" th:value="${data.id}" th:text="${data.jenisSurat}"></option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="status">Status</label>
                                        <select class="select2" style="width: 100%" id="status" th:field="*{status}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                            <option value="belumSelesai">Belum Selesai</option>
                                            <option value="selesai">Selesai</option>
                                        </select>
                                        <span class="help-block text-muted"><small>*yang mengisi admin</small></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="deskripsi">Deskripsi</label>
                                    <textarea class="form-control" id="deskripsi" th:field="*{deskripsi}" required autocomplete="off" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}"></textarea>
                                </div>
                                <div class="row" th:if="${userLoggedIn.user.role.id != 'superadmin'} and ${layananSurat.id != null} and ${layananSurat.file != null} and ${layananSurat.file != ''}">
                                    <div class="col-lg-6 form-group">
                                        <label for="file">Unggah File</label>
                                        <input type="file" class="form-control form-control-line" id="file" name="fileLayananSurat">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="namaFile">Nama File</label>
                                        <input id="namaFile" type="text" class="form-control" th:value="${layananSurat.file}" disabled="true"/>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${userLoggedIn.user.role.id != 'superadmin'} and (${layananSurat.id == null} or ${layananSurat.file == ''} or ${layananSurat.file == null})">
                                    <label for="file">Unggah File</label>
                                    <input type="file" class="form-control form-control-line" id="file" name="fileLayananSurat">
                                </div>
                            </div>
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-primary" id="btnSimpan">Simpan</button>
                                <a th:href="@{/layanan_surat/list}" class="btn btn-success">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script th:src="@{/js/select2/select2.full.min.js}"></script>
            <script>
                // inisialisasi select2
                $(".select2").select2();
            </script>
            <script>
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }
                
                /*]]>*/
            </script>
        </div>
    </body>
</html>