<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      th:with=" activeTab='LAPORAN_AGENDA_SURAT_MASUK'">
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-12">
                    <form th:action="@{/laporan_agenda/surat_masuk}" method="get" th:object="${searchLaporanAgendaDto}">
                        Dari Tanggal : <input type="date" class="form-control form-control-line" id="startDate" required style="width: 20%;" name='startDate' th:field="*{startDate}">
                        Sampai Tanggal : <input type="date" class="form-control form-control-line" id="endDate" required style="width: 20%;" name='endDate' th:field="*{endDate}">
                        <button type="submit" class="btn btn-primary">Tampilkan</button>
                    </form>
                </div>
                <div class="col-lg-12" style="margin-top: 10px;">
                    <div class="table-responsive">
                        <table class="table color-bordered-table danger-bordered-table" style="white-space: nowrap !important;">
                            <thead style="white-space: nowrap !important;">
                                <tr>
                                    <th>Kode Surat</th>
                                    <th>Nama Instansi</th>
                                    <th>Jenis Surat</th>
                                    <th>No Surat / Perihal / Isi Surat</th>
                                    <th>Tanggal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="data : ${listData}" th:if="${not #lists.isEmpty(listData.content)}">
                                    <td th:text="${data.kodeSurat}"></td>
                                    <td th:text="${data.instansi.namaInstansi}"></td>
                                    <td th:text="${data.jenisSurat.jenisSurat}"></td>
                                    <td th:text="${data.noSurat} + ' - ' + ${data.perihal} + ' - ' + ${data.deskripsi}"></td>
                                    <td th:text="${#dates.format(data.tanggalSurat, 'dd/MM/YYYY')}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(listData.content)}">
                                    <td colspan="5" style="text-align: center;">Data tidak ditemukan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="float: left;">
                        <a href="javascript:void(0)" onclick="cetakSuratMasuk()" class="btn btn-primary">Cetak</a>
                    </div>
                    <div th:if="${not #lists.isEmpty(listData.content)}" style="float: right">
                        <ul class="pagination" sd:pagination="full"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script>
                function cetakSuratMasuk() {
                    // Build Start Date
                    var sDate = new Date($('#sDate').val());
                    var dayStartDate = sDate.getDate();
                    var monthStartDate = sDate.getMonth() + 1;
                    var yearStartDate = sDate.getFullYear();
                    var startDate = [yearStartDate, monthStartDate, dayStartDate].join('-');

                    // Build End Date
                    var eDate = new Date($('#eDate').val());
                    var dayEndDate = eDate.getDate();
                    var monthEndDate = eDate.getMonth() + 1;
                    var yearEndDate = eDate.getFullYear();
                    var endDate = [yearEndDate, monthEndDate, dayEndDate].join('-');

                    if (startDate.includes("NaN") && !endDate.includes("NaN")) {
                        alert("Parameter tanggal yang dikirim tidak boleh kosong");
                        return;
                    }

                    if (startDate.includes("NaN")) {
                        startDate = null;
                    }

                    if (endDate.includes("NaN")) {
                        endDate = null;
                    }

                    var protocol = $(location).attr('protocol');
                    var host = $(location).attr('host');
                    var urlExport = "/api/laporan_agenda/surat_masuk/cetak";
                    var url = protocol + "//" + host + urlExport;

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            'sDate' : startDate,
                            'eDate' : endDate
                        },
                        success: function (data, textStatus, request) {
                            var filename = request.getResponseHeader('content-disposition').split(';')[1].split('=')[1].replace(/"/g, '');
                            var a = document.createElement("a");
                            a.href = 'data:application/vnd.ms-excel;base64,' + encodeURI(data.stream);
                            a.download = filename;
                            document.body.appendChild(a);
                            a.click();
                        }
                    });
                }
            </script>
        </div>
    </body>
</html>