<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      th:with=" activeTab='USER'">
    <body>
        <div layout:fragment="customCss">
            <link rel="stylesheet" th:href="@{/css/select2/select2.min.css}"/>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-danger">
                        <form class="form-material" th:object="${userAdminDto}" method="post" th:action="@{/user/form}">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Tambah User</h4>
                            </div>
                            <div class="card-block">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{id}">
                                    <label for="role">Jabatan</label>
                                    <select class="select2" style="width: 100%" id="role" th:field="*{role}">
                                        <option value="">- Pilih Jabatan -</option>
                                        <option value="admin">Administrator [Staff TU]</option>
                                        <option value="ketua">Super Admin [Ketua]</option>
                                        <option value="sekretaris">Super Admin [Sekretaris]</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="npa">NPA</label>
                                    <input type="text" class="form-control form-control-line" id="npa" autocomplete="off"
                                           required th:field="*{npa}">
                                </div>
                                <div class="form-group">
                                    <label for="namaLengkap">Nama Lengkap</label>
                                    <input type="text" class="form-control form-control-line" id="namaLengkap" autocomplete="off"
                                           required th:field="*{namaLengkap}">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control form-control-line" id="email" autocomplete="off"
                                           required th:field="*{email}">
                                </div>
                                <div class="form-group">
                                    <label for="noTelepon">No. Telepon</label>
                                    <input type="text" class="form-control form-control-line" id="noTelepon" autocomplete="off"
                                           required th:field="*{noTelepon}" onkeypress="return isNumberKey(event)">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control form-control-line" id="password" name="password">
                                    <span class="help-block text-muted"><small id="pwValidate" style="display: none;"></small></span>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Konfirmasi Password</label>
                                    <input type="password" class="form-control form-control-line" id="confirmPassword" name="confirmPassword">
                                    <span class="help-block text-muted" id="errorConfirmPassword" style="display: none;"><small>Password Tidak Cocok.</small></span>
                                </div>
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="select2" style="width: 100%" th:field="*{status}" id="status">
                                        <option value="aktif">Aktif</option>
                                        <option value="non-aktif">Tidak Aktif</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-primary" id="btnSimpan">Simpan</button>
                                <a th:href="@{/user/list}" class="btn btn-success">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script th:src="@{/js/main/number-validator.js}"></script>
            <script th:src="@{/js/select2/select2.full.min.js}"></script>
            <script th:src="@{/js/main/passwordValidator.js}"></script>
            <script>
                // inisialisasi select2
                $(".select2").select2();
            </script>
            <script>
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var idUser = /*[[${userAdminDto.id}]]*/ "";
                if (!idUser) {
                    // disable button simpan
                    $("#btnSimpan").prop("disabled", true);
                }

                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
        </div>
    </body>
</html>