<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div th:fragment="header">
        <nav class="navbar top-navbar navbar-toggleable-sm navbar-light" style="background-color: #FEFEFE;">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <b>
                        <span style="font-size: 11pt; color: white;">Manajemen Surat PGRI Kab. Bogor</span>
                    </b>
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto mt-md-0 ">
                    <li>
                        <span style="margin-left: 10px; margin-top: 22px !important; position: absolute;" th:if="${userLoggedIn.user.role.id == 'admin'}">Admin PGRI Kab. Bogor</span>
                        <span style="margin-left: 10px; margin-top: 22px !important; position: absolute;" th:if="${userLoggedIn.user.tipe == 'ketua'}">Ketua PGRI Kab. Bogor</span>
                        <span style="margin-left: 10px; margin-top: 22px !important; position: absolute;" th:if="${userLoggedIn.user.tipe == 'sekretaris'}">Sekretaris PGRI Kab. Bogor</span>
                    </li>
                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{/img/default-profile.png}" alt="user" class="profile-pic" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated flipInY">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-text">
                                            <h4 th:text='${userLoggedIn.namaLengkap}'></h4>
                                            <p class="text-muted">
                                                <span></span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a th:href="@{/profile_saya/form(id=${userLoggedIn.id})}"><i class="ti-user"></i> Profil Saya</a>
                                </li>
                                <li>
                                    <a th:href="@{/ganti_password/form(id=${userLoggedIn.id})}"><i class="ti-lock"></i> Ganti Password</a>
                                </li>
                                <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i> Keluar</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</html>
