<html>
    <head>
        <title>Sistem Manajemen Surat</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Insert CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main/style.css}"/>
        <link rel="stylesheet" th:href="@{/css/main/blue-dark.css}"/>
        <link rel="stylesheet" th:href="@{/css/sweet-alert/sweetalert.css}"/>
    </head>
</html>
