<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" th:with=" activeTab='DASHBOARD'">
    <body>
        <div th:fragment="sidebar">
            <aside class="left-sidebar" style="background-color: #F4A655;">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li th:classappend="${activeTab == 'DASHBOARD' ? 'active' : null}">
                                <a th:href="@{/}" aria-expanded="false">
                                    <span class="hide-menu">Dashboard</span>
                                </a>
                            </li>
                            <li th:classappend="${activeTab == 'LAYANAN_SURAT' ? 'active' : null}" sec:authorize="hasRole('MENU_LAYANAN_SURAT')">
                                <a th:href="@{/layanan_surat/list}" aria-expanded="false" th:classappend="${activeTab == 'LAYANAN_SURAT' ? 'active' : null}">
                                    <span class="hide-menu">Layanan surat</span>
                                </a>
                            </li>
                            <li th:classappend="${activeTab == 'SURAT_MASUK' ? 'active' : null}" sec:authorize="hasRole('MENU_SURAT_MASUK')">
                                <a th:href="@{/surat_masuk/list}" aria-expanded="false" th:classappend="${activeTab == 'SURAT_MASUK' ? 'active' : null}">
                                    <span class="hide-menu">Surat masuk</span>
                                </a>
                            </li>
                            <li th:classappend="${activeTab == 'DISPOSISI' ? 'active' : null}" sec:authorize="hasRole('MENU_DISPOSISI')">
                                <a th:href="@{/disposisi/list}" aria-expanded="false" th:classappend="${activeTab == 'DISPOSISI' ? 'active' : null}">
                                    <span class="hide-menu">Disposisi</span>
                                </a>
                            </li>
                            <li th:classappend="${activeTab == 'SURAT_KELUAR' ? 'active' : null}" sec:authorize="hasRole('MENU_SURAT_KELUAR')">
                                <a th:href="@{/surat_keluar/list}" aria-expanded="false" th:classappend="${activeTab == 'SURAT_KELUAR' ? 'active' : null}">
                                    <span class="hide-menu">Surat keluar</span>
                                </a>
                            </li>
                            <li th:classappend="${activeTab == 'LAPORAN_AGENDA_SURAT_MASUK' or activeTab == 'LAPORAN_AGENDA_SURAT_KELUAR' ? 'active' : null}">
                                <a class="has-arrow " href="#" aria-expanded="false"><span class="hide-menu">Laporan agenda</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li th:classappend="${activeTab == 'LAPORAN_AGENDA_SURAT_MASUK' ? 'active' : null}">
                                        <a th:href="@{/laporan_agenda/surat_masuk}" th:classappend="${activeTab == 'LAPORAN_AGENDA_SURAT_MASUK' ? 'active' : null}">Surat masuk</a>
                                    </li>
                                    <li th:classappend="${activeTab == 'LAPORAN_AGENDA_SURAT_KELUAR' ? 'active' : null}">
                                        <a th:href="@{/laporan_agenda/surat_keluar}" th:classappend="${activeTab == 'LAPORAN_AGENDA_SURAT_KELUAR' ? 'active' : null}">Surat keluar</a>
                                    </li>
                                </ul>
                            </li>
                            <li th:classappend="${activeTab == 'INSTANSI' ? 'active' : null}" sec:authorize="hasRole('MENU_INSTANSI')">
                                <a th:href="@{/instansi/list}" aria-expanded="false" th:classappend="${activeTab == 'INSTANSI' ? 'active' : null}">
                                    <span class="hide-menu">Instansi</span>
                                </a>
                            </li>
                            <li th:classappend="${activeTab == 'JENIS_SURAT' ? 'active' : null}" sec:authorize="hasRole('MENU_JENIS_SURAT')">
                                <a th:href="@{/jenis_surat/list}" aria-expanded="false" th:classappend="${activeTab == 'JENIS_SURAT' ? 'active' : null}">
                                    <span class="hide-menu">Jenis surat</span>
                                </a>
                            </li>
                            <li th:classappend="${activeTab == 'USER' ? 'active' : null}" sec:authorize="hasRole('MENU_USER')">
                                <a th:href="@{/user/list}" aria-expanded="false" th:classappend="${activeTab == 'USER' ? 'active' : null}">
                                    <span class="hide-menu">User</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>
        </div>
    </body>
</html>
