<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      th:with=" activeTab='INSTANSI'">
    <body>
        <div layout:fragment="customCss">
            
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-danger">
                        <form class="form-material" th:object="${instansi}" method="post" th:action="@{/instansi/form}">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Tambah Instansi</h4>
                            </div>
                            <div class="card-block">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{id}">
                                    <label for="kode">Kode Instansi</label>
                                    <input type="text" class="form-control form-control-line" id="kode" autocomplete="off"
                                           required th:field="*{kode}">
                                </div>
                                <div class="form-group">
                                    <label for="namaInstansi">Nama Instansi</label>
                                    <input type="text" class="form-control form-control-line" id="namaInstansi" autocomplete="off"
                                           required th:field="*{namaInstansi}">
                                </div>
                                <div class="form-group">
                                    <label for="alamat">Alamat</label>
                                    <textarea class="form-control" id="alamat" th:field="*{alamat}" required autocomplete="off"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="noTelepon">No. Telepon</label>
                                    <input type="text" class="form-control form-control-line" id="noTelepon" autocomplete="off"
                                           required th:field="*{noTelepon}" onkeypress="return isNumberKey(event)">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control form-control-line" id="email" autocomplete="off"
                                           required th:field="*{email}">
                                </div>
                            </div>
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-primary" id="btnSimpan">Simpan</button>
                                <a th:href="@{/instansi/list}" class="btn btn-success">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script th:src="@{/js/main/number-validator.js}"></script>
            <script>
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
        </div>
    </body>
</html>