<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      th:with=" activeTab='INSTANSI'">
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/instansi/form}" class="btn btn-info"><i class="fa fa-plus"></i> Tambah Baru</a>
                    <a th:href="@{/instansi/list}" class="btn btn-primary"><i class="fa fa-undo"></i> Segarkan</a>
                </div>
                <div class="col-lg-9" style="text-align: right;">
                    <form th:action="@{/instansi/list}" method="get" th:object="${paramSearch}">
                        <select class="form-control col-lg-3" th:field="*{query}">
                            <option value="">Pencarian :</option>
                            <option value="namaInstansi">Nama Instansi</option>
                            <option value="alamat">Alamat</option>
                            <option value="noTelepon">No Telepon</option>
                            <option value="email">Email</option>
                        </select>
                        <input type="text" class="form-control col-lg-3" th:field="*{value}" autocomplete="off">
                        <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="col-lg-12" style="margin-top: 10px;">
                    <div class="table-responsive">
                        <table class="table color-bordered-table danger-bordered-table" style="white-space: nowrap !important;">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Aksi</th>
                                    <th>Kode Instansi</th>
                                    <th>Nama Instansi</th>
                                    <th>Alamat</th>
                                    <th>No Telepon</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="data : ${listData}" th:if="${not #lists.isEmpty(listData.content)}">
                                    <td style="text-align: center;">
                                        <a class="btn btn-primary" th:href="@{/instansi/form(id=${data.id})}" data-toggle="tooltip" data-placement="bottom" data-original-title="Ubah">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" data-original-title="Hapus" th:onclick="'confirmDelete(\'' + ${data.id} + '\');'">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                    <td th:text="${data.kode}"></td>
                                    <td th:text="${data.namaInstansi}"></td>
                                    <td th:text="${data.alamat}"></td>
                                    <td th:text="${data.noTelepon}"></td>
                                    <td th:text="${data.email}"></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(listData.content)}">
                                    <td colspan="6" style="text-align: center;">Data tidak ditemukan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${not #lists.isEmpty(listData.content)}" style="float: right">
                        <ul class="pagination" sd:pagination="full"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script>
                function showMessageSuccess(message) {
                    swal("Sukses !", message, "success");
                }
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var successMessage = /*[[${successMessage}]]*/ "";
                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (successMessage !== null) {
                    showMessageSuccess(successMessage);
                }
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
            <script>
                var protocol = $(location).attr('protocol');
                var host = $(location).attr('host');
                var urlDelete = "/instansi/delete";
                var paramName = "id";
                var paramValue = "";
                function confirmDelete(id) {
                    paramValue = id;
                    swal({
                        title: "Apakah anda yakin ingin menghapus data ini ?",
                        text: "Data yang telah dihapus tidak bisa dipulihkan kembali !",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Hapus",
                        closeOnConfirm: false
                    }, function() {
                        var url = protocol + "//" + host + urlDelete + "?" + paramName + "=" + paramValue;
                        location.href = url;
                    });
                }
            </script>
        </div>
    </body>
</html>