<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      th:with=" activeTab='SURAT_MASUK'">
    <body>
        <div layout:fragment="customCss">
            <link rel="stylesheet" th:href="@{/css/select2/select2.min.css}"/>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline-danger">
                        <form class="form-material" th:object="${suratMasuk}" method="post" th:action="@{/surat_masuk/form}" enctype="multipart/form-data">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Tambah Surat Masuk</h4>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <input type="hidden" th:field="*{id}">
                                        <label for="noSurat">No Surat</label>
                                        <input type="text" class="form-control form-control-line" id="noSurat" autocomplete="off"
                                               required th:field="*{noSurat}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="jenisSurat">Jenis Surat</label>
                                        <select class="select2" style="width: 100%" id="jenisSurat" th:field="*{jenisSurat}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                            <option th:each="data : ${listJenisSurat}" th:value="${data.id}" th:text="${data.jenisSurat}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label for="tanggalSurat">Tanggal Surat</label>
                                        <input type="date" class="form-control form-control-line" id="tanggalSurat" required th:field="*{tanggalSurat}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="tanggalCatat">Tanggal Catat</label>
                                        <input type="date" class="form-control form-control-line" id="tanggalCatat" required th:field="*{tanggalCatat}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="namaInstansi">Nama Instansi</label>
                                    <select class="select2" style="width: 100%" id="namaInstansi" th:field="*{instansi}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                        <option th:each="data : ${listInstansi}" th:value="${data.id}" th:text="${data.namaInstansi}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="perihal">Perihal</label>
                                    <input type="text" class="form-control form-control-line" id="perihal" autocomplete="off"
                                           required th:field="*{perihal}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                </div>
                                <div class="form-group">
                                    <label for="deskripsi">Deskripsi</label>
                                    <textarea class="form-control" id="deskripsi" th:field="*{deskripsi}" required autocomplete="off" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label for="keterangan">Keterangan</label>
                                        <select class="select2" style="width: 100%" id="keterangan" th:field="*{keterangan}" th:disabled="${userLoggedIn.user.role.id != 'superadmin'}">
                                            <option value="hadir">Hadir</option>
                                            <option value="tidakHadir">Tidak Hadir</option>
                                        </select>
                                        <span class="help-block text-muted"><small>*yang mengisi ketua/sekretaris</small></span>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="status">Status</label>
                                        <select class="select2" style="width: 100%" id="status" th:field="*{status}" th:disabled="${userLoggedIn.user.role.id == 'superadmin'}">
                                            <option value="balas">Balas</option>
                                            <option value="tidak">Tidak</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" th:if="${suratMasuk.id != null} and ${suratMasuk.file != null} and ${suratMasuk.file != ''} and ${userLoggedIn.user.role.id != 'superadmin'}">
                                    <div class="col-lg-6 form-group">
                                        <label for="file">Unggah File</label>
                                        <input type="file" class="form-control form-control-line" id="file" name="fileSuratMasuk">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="namaFile">Nama File</label>
                                        <input id="namaFile" type="text" class="form-control" th:value="${suratMasuk.file}" disabled="true"/>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${suratMasuk.id == null} or ${suratMasuk.file == ''} or ${suratMasuk.file == null}" sec:authorize="hasRole('EDIT_SURAT_MASUK')">
                                    <label for="file">Unggah File</label>
                                    <input type="file" class="form-control form-control-line" id="file" name="fileSuratMasuk">
                                </div>
                                <div class="form-group" th:if="${suratMasuk.id != null} and ${suratMasuk.file != null} and ${suratMasuk.file != ''} and ${userLoggedIn.user.role.id == 'superadmin'}">
                                    <label for="file">Lihat File</label><br/>
                                    <a class="btn btn-primary" style="background-color: #5cb85c; border-color: #5cb85c;" th:href="@{/surat_masuk/download(id=${suratMasuk.id})}" data-toggle="tooltip" data-placement="bottom" data-original-title="Lihat File">
                                        <i class="fa fa-file"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer" style="text-align: right;">
                                <button type="submit" class="btn btn-primary" id="btnSimpan">Simpan</button>
                                <a th:href="@{/surat_masuk/list}" class="btn btn-success">Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="customJavascript">
            <script th:src="@{/js/main/number-validator.js}"></script>
            <script th:src="@{/js/select2/select2.full.min.js}"></script>
            <script>
                // inisialisasi select2
                $(".select2").select2();
            </script>
            <script>
                function showMessageError(message) {
                    swal("Warning !", message, "error");
                }
            </script>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var errorMessage = /*[[${errorMessage}]]*/ "";
                if (errorMessage !== null) {
                    showMessageError(errorMessage);
                }

                /*]]>*/
            </script>
        </div>
    </body>
</html>