<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      th:with=" activeTab='DASHBOARD'">
    <body class="fix-header fix-sidebar card-no-border">
        <div layout:fragment="customCss">
            <link rel="stylesheet" th:href="@{/css/chartist-js/chartist.min.css}"/>
            <link rel="stylesheet" th:href="@{/css/chartist-js/chartist-init.css}"/>
            <link rel="stylesheet" th:href="@{/css/chartist-plugin-tooltip-master/chartist-plugin-tooltip.css}"/>
            <link rel="stylesheet" th:href="@{/css/css-chart/css-chart.css}"/>
            <style>
                .undangan {
                    stroke: #0CC162;
                }
            </style>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-inverse card-info">
                        <div class="box bg-info text-center">
                            <h1 class="font-light text-white" th:text="${totalAmatSegera}"></h1>
                            <h6 class="text-white">Amat Segera</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-primary card-inverse">
                        <div class="box text-center">
                            <h1 class="font-light text-white" th:text="${totalSegera}"></h1>
                            <h6 class="text-white">Segera</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-inverse card-success">
                        <div class="box text-center">
                            <h1 class="font-light text-white" th:text="${totalBiasa}"></h1>
                            <h6 class="text-white">Biasa</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-inverse card-warning">
                        <div class="box text-center">
                            <h1 class="font-light text-white" th:text="${totalPenting}"></h1>
                            <h6 class="text-white">Penting</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title" style="text-align: center;">Surat Masuk</h3>
                                <div id="chart-surat-masuk" style="width: 100%; height:300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title" style="text-align: center;">Surat Keluar</h4>
                                <div id="chart-surat-keluar" style="width: 100%; height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="row">
                        <div class="col-md-6" style="text-align: center;">
                            <h2 style="color: #E50112;">Total</h2>
                            <h4 style="color: #E50112;">Surat Masuk</h4>
                            <h4 th:text="${totalSuratMasuk}"></h4>
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <h2 style="color: #E50112;">Total</h2>
                            <h4 style="color: #E50112;">Surat Keluar</h4>
                            <h4 th:text="${totalSuratKeluar}"></h4>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15%; margin-left: 4%;">
                        <div class="col-md-12">
                            <h4>Jenis Surat</h4><br/>
                            <ul>
                                <li th:each="data : ${listJenisSurat}">
                                    <input type="color" disabled="true" th:value="${data.warna}" style="width: 8%;">
                                    <span th:text="${data.jenisSurat}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="card card-inverse" style="border-top: 5px solid red;">
                        <div class="box text-center">
                            <h6>Jumlah agenda kehadiran</h6>
                            <div class="form-group row" style="margin-top: 20px;">
                                <div class="col-md-6" style="border-right: 1px solid black;">
                                    <h6 style="font-size: 10pt;">Total</h6>
                                    <h1 class="font-light"><b><span th:text="${totalJumlahAgendaKehadiran}"></span></b></h1>
                                </div>
                                <div class="col-md-6">
                                    <h6 style="font-size: 10pt;">Dihadiri</h6>
                                    <h1 class="font-light"><b><span th:text="${totalYangDihadiri}"></span></b></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card card-inverse" style="border-top: 5px solid red;">
                        <div class="box text-center">
                            <h6>Jumlah permintaan layanan surat</h6>
                            <div class="form-group row" style="margin-top: 20px;">
                                <div class="col-md-6" style="border-right: 1px solid black;">
                                    <h6 style="font-size: 10pt;">Total</h6>
                                    <h1 class="font-light"><b><span th:text="${totalLayananSurat}"></span></b></h1>
                                </div>
                                <div class="col-md-6">
                                    <h6 style="font-size: 10pt;">Diproses</h6>
                                    <h1 class="font-light"><b><span th:text="${totalLayananSuratDiproses}"></span></b></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="customJavascript">
        <script th:src="@{/js/chartist-js/chartist.min.js}"></script>
        <script th:src="@{/js/chartist-plugin-tooltip-master/chartist-plugin-tooltip.min.js}"></script>
        <script th:src="@{/js/echarts/echarts-all.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            var listDataChartSuratMasuk = /*[[${listDataChartSuratMasuk}]]*/ "";

            var listMonth = [];

            for (var i = 0; i < 12; i++) {
                if (i === 0) {
                    listMonth.push("Jan");
                } else if (i === 1) {
                    listMonth.push("Feb");
                } else if (i === 2) {
                    listMonth.push("Mar");
                } else if (i === 3) {
                    listMonth.push("Apr");
                } else if (i === 4) {
                    listMonth.push("Mei");
                } else if (i === 5) {
                    listMonth.push("Jun");
                } else if (i === 6) {
                    listMonth.push("Jul");
                } else if (i === 7) {
                    listMonth.push("Agu");
                } else if (i === 8) {
                    listMonth.push("Sep");
                } else if (i === 9) {
                    listMonth.push("Okt");
                } else if (i === 10) {
                    listMonth.push("Nov");
                } else {
                    listMonth.push("Des");
                }
            }

            var listSeriesSuratMasuk = [];
            var listColor = [];
            for (var i = 0; i < listDataChartSuratMasuk.length; i++) {
                var objSeries = {};
                objSeries.name = listDataChartSuratMasuk[i].name;
                objSeries.type = "line";
                objSeries.data = listDataChartSuratMasuk[i].listData;
                objSeries.itemStyle = {
                    normal: {
                        lineStyle: {
                            shadowColor : 'rgba(0,0,0,0.3)',
                                shadowBlur: 10,
                                shadowOffsetX: 8,
                                shadowOffsetY: 8
                        }
                    }
                }
                listSeriesSuratMasuk.push(objSeries);
                listColor.push(listDataChartSuratMasuk[i].color);
            }

            var domSuratMasuk = document.getElementById("chart-surat-masuk");
            var mytempChartSuratMasuk = echarts.init(domSuratMasuk);
            option = null;
            option = {
                tooltip : {
                    trigger: 'axis'
                },
                toolbox: {
                    show : false,
                    feature : {
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                color: listColor,
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : listMonth
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        axisLabel : {
                            formatter: '{value}'
                        }
                    }
                ],
                series : listSeriesSuratMasuk
            };

            if (option && typeof option === "object") {
                mytempChartSuratMasuk.setOption(option, true), $(function() {
                    function resize() {
                        setTimeout(function() {
                            mytempChartSuratMasuk.resize()
                        }, 100)
                    }
                    $(window).on("resize", resize), $(".sidebartoggler").on("click", resize)
                });
            }

            /*]]>*/
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/

            var listDataChartSuratKeluar = /*[[${listDataChartSuratKeluar}]]*/ "";

            var listSeriesSuratKeluar = [];
            for (var i = 0; i < listDataChartSuratKeluar.length; i++) {
                var objSeries = {};
                objSeries.name = listDataChartSuratKeluar[i].name;
                objSeries.type = "line";
                objSeries.data = listDataChartSuratKeluar[i].listData;
                objSeries.itemStyle = {
                    normal: {
                        lineStyle: {
                            shadowColor : 'rgba(0,0,0,0.3)',
                            shadowBlur: 10,
                            shadowOffsetX: 8,
                            shadowOffsetY: 8
                        }
                    }
                }
                listSeriesSuratKeluar.push(objSeries);
            }

            var dom = document.getElementById("chart-surat-keluar");
            var mytempChart = echarts.init(dom);
            option = null;
            option = {
                tooltip : {
                    trigger: 'axis'
                },
                toolbox: {
                    show : false,
                    feature : {
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                color: listColor,
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : listMonth
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        axisLabel : {
                            formatter: '{value}'
                        }
                    }
                ],
                series : listSeriesSuratKeluar
            };

            if (option && typeof option === "object") {
                mytempChart.setOption(option, true), $(function() {
                    function resize() {
                        setTimeout(function() {
                            mytempChart.resize()
                        }, 100)
                    }
                    $(window).on("resize", resize), $(".sidebartoggler").on("click", resize)
                });
            }

            /*]]>*/
        </script>
    </div>
</body>
</html>
