<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}" />
        <title>Sistem Manajemen Surat | Login</title>
        <!-- Bootstrap Core CSS -->
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
        <!-- Custom CSS -->
        <link th:href="@{/css/main/style.css}" rel="stylesheet" />
        <!-- You can change the theme colors from here -->
        <link th:href="@{/css/main/blue.css}" id="theme" rel="stylesheet" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <section id="wrapper">
            <div class="login-register" style="background-image:url(/img/background/bg-surat.jpg);">
                <div class="login-box card" style="float: right; margin-right: 100px; margin-top: 50px;">
                    <div class="card-block">
                        <form class="form-horizontal form-material" id="loginform" th:action="@{/login}" method="post">
                            <h3 class="box-title m-b-20" style="text-align: center; color: red;" th:if="${param.error} and ${session.SPRING_SECURITY_LAST_EXCEPTION} != null">Username atau password salah !</h3>
                            <h3 class="box-title m-b-20" style="text-align: center; color: green;" th:if="${param.logout}">Berhasil logout ...</h3>
                            <h3 class="box-title m-b-20">Silahkan masuk untuk melanjutkan</h3>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Username" autocomplete="off" name="username"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" required="" placeholder="Password" name="password"> 
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Masuk</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script th:src="@{/js/jquery/jquery.min.js}"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script th:src="@{/js/bootstrap/tether.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script th:src="@{/js/main/jquery.slimscroll.js}"></script>
        <!--Wave Effects -->
        <script th:src="@{js/main/waves.js}"></script>
        <!--Menu sidebar -->
        <script th:src="@{js/main/sidebarmenu.js}"></script>
        <!--stickey kit -->
        <script th:src="@{/js/sticky-kit-master/sticky-kit.min.js}"></script>
        <!--Custom JavaScript -->
        <script th:src="@{/js/main/custom.min.js}"></script>
        <!-- ============================================================== -->
        <!-- Style switcher -->
        <!-- ============================================================== -->
        <script th:src="@{/js/styleswitcher/jQuery.style.switcher.js}"></script>
    </body>

</html>